.header__menu {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  padding: 28px 120px 28px 0;
}

@media screen and (max-width: 1439px) {
  .header__menu {
    padding: 20px 60px 20px 0;
  }
}

@media screen and (max-width: 1023px) {
  .header__menu {
    padding: 20px 30px 20px 0;
  }
}

@media screen and (max-width: 799px) {
  .header__menu {

  }
}

@media screen and (max-width: 499px) {
  .header__menu {
    display: none;
    padding: 0;
  }
}
