.bikes__image {
  width: 340px;
  height: 340px;
  margin: 20px 0 0 20px;
}

@media screen and (max-width: 1439px) {
  .bikes__image {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 1023px) {
  .bikes__image {
    width: 210px;
    height: 210px;
    margin: 15px 0 0 15px;
  }
}

@media screen and (max-width: 799px) {
  .bikes__image {

  }
}

@media screen and (max-width: 499px) {
  .bikes__image {

  }
}
