.bikes-menu__list {
  position: relative;
  top: -10px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 20px 0 0 12px;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  border-top: none;
  list-style-type: none;
  background-color: var(--bg-color);
}
