.workout__description {
  width: 460px;
  display: grid;
  flex-direction: column;
  margin: 0;
  grid-area: C;
  grid-template-areas:
  "A B"
  "C B"
  "D B";
  column-gap: 160px;
}

@media screen and (max-width: 1439px) {
  .workout__description {
    width: 300px;
    column-gap: 64px;
  }
}

@media screen and (max-width: 1023px) {
  .workout__description {
    width: 280px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 799px) {
  .workout__description {
    width: 460px;
    margin: 0 0 60px 0;
    grid-template-areas:
    "A"
    "B"
    "C"
    "D";
  }
}

@media screen and (max-width: 499px) {
  .workout__description {
    width: 284px;
  }
}
