.footer__title {
  width: 229px;
  font: 600 24px/32px 'Inter', sans-serif;
  color: var(--header-text-color);
  margin-bottom: 50px;
  margin-top: 1px;
}

@media screen and (max-width: 1439px) {
  .footer__title {

  }
}

@media screen and (max-width: 1023px) {
  .footer__title {

  }
}

@media screen and (max-width: 799px) {
  .footer__title {

  }
}

@media screen and (max-width: 499px) {
  .footer__title {
    width: 284px;
    margin-bottom: 40px;
  }
}

