.content__header_workout {
  margin-top: 3px;
  margin-bottom: 41px;
  grid-area: A;
}

@media screen and (max-width: 1023px) {
  .content__header_workout {
    margin-top: 0;
  }
}

@media screen and (max-width: 799px) {
  .content__header_workout {
    margin-bottom: 40px;
  }
}
