.highway__image {
  height: 400px;
  width: 650px;
}

.highway__image:last-child {
  width: 630px;
  object-fit: cover;
}

@media screen and (max-width: 1439px) {
  .highway__image {
    height: 300px;
    width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .highway__image {
    height: 280px;
    width: 360px;
  }
  .highway__image:last-child {
    width: 360px;
  }
}

@media screen and (max-width: 799px) {
  .highway__image {
    width: 460px;
    height: 320px;
    margin-bottom: 40px;
  }
  .highway__image:last-child {
    display: none;
  }
}


@media screen and (max-width: 499px) {
  .highway__image {
    width: 284px;
    height: 175px;
  }
}
