.highway__image {
  height: 400px;
  width: 650px;
}

.highway__image:last-child {
  width: 630px;
  object-fit: cover;
}

@media screen and (max-width: 1439px) {
  .highway__image {
    height: 300px;
    width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .highway__image {

  }
}

@media screen and (max-width: 799px) {
  .highway__image {

  }
}


@media screen and (max-width: 499px) {
  .highway__image {

  }
}
