.highway__button {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-image: url('../../../images/highway-navigation.svg');
  background-repeat: no-repeat;
  background-position: 18px 16px;
  background-color: var(--highway-button-bg-color);
  transition: opacity .2s linear;
}

.highway__button:last-child {
  transform: rotate(-180deg);
}

.highway__button:hover {
  opacity: .75;
  cursor: pointer;
}

@media screen and (max-width: 499px) {
  .highway__button {
    margin-top: 7px;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    background-size: 7px 12px;
    background-position: 8px 6px;
  }
}
