.footer__club-name {
  font: 600 14px/20px 'Inter', sans-serif;
  color: var(--footer-club-color);
  margin-top: 97px;
}


@media screen and (max-width: 1023px) {
  .footer__club-name {
    margin-top: 50px;
  }
}

@media screen and (max-width: 799px) {
  .footer__club-name {

  }
}

@media screen and (max-width: 499px) {
  .footer__club-name {

  }
}
