.content__description {
  width: 460px;
  display: flex;
  flex-direction: column;
  margin: 0 0 209px 0;
  grid-area: C;
}

/* @media screen and (max-width: 1439px) {
  .content__description {
    width: 80px;
    margin: 80px 250px 209px 0;
  }
}

@media screen and (max-width: 1023px) {
  .content__description {
    width: 60px;
    margin: 80px 250px 209px 0;
  }
}

@media screen and (max-width: 799px) {
  .content__description {
    width: 40px;
    margin: 80px 250px 209px 0;
  }
}

@media screen and (max-width: 499px) {
  .content__description {
    width: 20px;
    margin: 80px 250px 209px 0;
  }
} */
