.bikes__navigation {
  display: none;
  column-gap: 5px;
  list-style-type: none;
  margin: 20px 131px 0;
  padding: 0;
}

@media screen and (max-width: 799px) {
  .bikes__navigation {
    display: flex;
  }
}
