.content__container {
  position: absolute;
  width: 810px;
  height: 430px;
  z-index: 2;
  top: 347px;
  left: 509px;
}

@media screen and (max-width: 1439px) {
  .content__container {
    width: 600px;
    height: 400px;
    top: 420px;
    left: 342px;
  }
}

@media screen and (max-width: 1023px) {
  .content__container {
    width: 460px;
    height: 300px;
    top: 284px;
    left: 278px;
  }
}

@media screen and (max-width: 799px) {
  .content__container {
    width: 458px;
    top: 460px;
    left: 0px;
  }
}

@media screen and (max-width: 499px) {
  .content__container {
    width: 284px;
    height: 187px;
    top: 297px;
  }
}
