.content__text {
  font: 400 18px/28px 'Inter',sans-serif;
  color: var(--text-color);
  margin-bottom: 53px;
  opacity: 0.7;
}


@media screen and (max-width: 1023px) {
  .content__text {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 799px) {
  .content__text {

  }
}

@media screen and (max-width: 499px) {
  .content__text {
    margin-bottom: 40px;
    font: 400 12px/18px 'Inter',sans-serif;
  }
}
