.content__image {
  margin-top: 20px;
  width: 610px;
  height: 836px;
  grid-area: B;
}

@media screen and (max-width: 1439px) {
  .content__image {
    width: 594px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1023px) {
  .content__image {
    width: 440px;
    height: 600px;
  }
}

@media screen and (max-width: 799px) {
  .content__image {
    width: 460px;
  }
}

@media screen and (max-width: 499px) {
  .content__image {
    width: 254px;
    height: 348px;
    margin-left: 30px;
  }
}
