.content__text_workout {
  height: fit-content;
  margin-bottom: 179px;
  grid-area: C;
}

@media screen and (max-width: 1439px) {
  .content__text_workout {
    margin-bottom: 103px;
  }
}

@media screen and (max-width: 1023px) {
  .content__text_workout {
    margin-bottom: 68px;
  }
}

@media screen and (max-width: 799px) {
  .content__text_workout {
    margin-bottom: 40px;
  }
}
