.merx__title {
  font: 600 34px/44px 'Inter', sans-serif;
  color: var(--header-text-color);
  letter-spacing: -0.5px;
  margin-bottom: 258px;
}

@media screen and (max-width: 1439px) {
  .merx__title {
    width: 350px;
    margin-bottom: 149px;
  }
}

@media screen and (max-width: 1023px) {
  .merx__title {
    font: 600 28px/38px 'Inter', sans-serif;
    width: 310px;
    margin-bottom: 78px;
  }
}

@media screen and (max-width: 799px) {
  .merx__title {
    width: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}


@media screen and (max-width: 499px) {
  .merx__title {

  }
}
