.content__header {
  font: 700 55px/60px 'Inter',sans-serif;
  margin-top: 0;
  width: 460px;
  margin: 82px 0 0 0;
  height: fit-content;
  color: var(--header-text-color);
  letter-spacing: -0.5px;
  grid-area: A;
}

@media screen and (max-width: 1439px) {
  .content__header {
    width: 300px;
    margin: 40px 0 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .content__header {
    width: 280px;
    margin: 40px 0 0 0;
    font: 700 50px/55px 'Inter',sans-serif;
  }
}

@media screen and (max-width: 799px) {
  .content__header {

  }
}

@media screen and (max-width: 499px) {
  .content__header {
    font: 700 32px/40px 'Inter',sans-serif;
    margin-bottom: 40px;
  }
}
