.merx__hobbies {
  font: 400 16px/28px 'Inter', sans-serif;
  color: var(--content-text-color);
  opacity: 0.7;
}

@media screen and (max-width: 1023px) {
  .merx__hobbies {
    font: 400 14px/24px 'Inter', sans-serif;
  }
}

@media screen and (max-width: 499px) {
  .merx__hobbies {
    font: 400 10px/16px 'Inter', sans-serif;
  }
}
