.bikes__links {
  display: flex;
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width: 799px) {
  .bikes__links {
    padding: 0;
  }
}

@media screen and (max-width: 499px) {
  .bikes__links {
    display: none;
  }
}
